
@{
    ViewBag.Title = "Profissionais";
}


<div class="row">
    <div class="col-md-12">
        <div id="miolo" class="card strpied-tabled-with-hover card-wizard">
            <div class="card-body">
                <table id="tbEmpresas" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Especialidade</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
<script src="~/Scripts/Pages/ProfissionaisIndex.js"></script>
}

