@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div id="miolo" class="card strpied-tabled-with-hover card-wizard">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-chart text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Saldo Operação</p>
                            <h4 class="card-title" id="saldoOperacao"></h4>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-light-3 text-success"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Saldo StaffPro</p>
                            <h4 class="card-title"id="saldoStaffPro" ></h4>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category"> Oportunidades</p>
                            <h4 class="card-title" id="totalOportunidades"></h4>
                        </div>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="numbers">
                            <p class="card-category">Empresas</p>
                            <h4 class="card-title" id="totalEmpresas"></h4>
                        </div>
                    </div>
                </div>
            </div>
   
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h4 class="card-title">Informações Financeiras das Empresas</h4>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-6">
                        <div id="saldosEmpresas" class="table-responsive">
                        
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
<script src="~/Scripts/Pages/HomeIndex.js"></script>
}


